<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sensei</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../static/css/style.css" rel="stylesheet">


</head>

<body>

    <h1 class='heading'>SENSEI</h1>
    
    <h2 class='function1'>Search</h2>
    
    <input class="name" type="text" placeholder="Name.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>

    <input class="faculty" type="text" placeholder="Faculty.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>

    <input class="university" type="text" placeholder="University.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>

    <input class="keyword" type="text" placeholder="Key words.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
    
    <button id="searchbtn" class="search-position" type="button">Search</button>
    
    
    <h2 class='function2'>Compare</h2>
    
    <input class="name1" type="text" placeholder="Name 01.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>

    <input class="name2" type="text" placeholder="Name 02.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
    
    <button id="comparebtn" class="search-position" type="button">Compare</button>
    
    <h2 class='function3'>Are you an academic?</h2>
    
    <a href="showSignUp"><button id="btnSignUp" class="signup-position" type="button">Sign Up</button></a>
    <a href="showSignIn"><button id="btnSignIn" class="signin-position" type="button">Sign In</button></a>

</body>

</html>