<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sensei</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>


</head>

<body>

    <h1 class='heading'>SENSEI</h1>
    
    <h2 class='function1'>Register with Sensei</h2>
    
    <form class="form-signin">
    First Name : 
    <label for="inputFirstName" class="sr-only">First Name</label>
    <input type="firstname" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="FirstName" required autofocus>

        <br><br>

    Last Name :
    <!--<label for="inputLastName" class="sr-only">Last Name</label>-->
    <input type="lastname" name="inputLastName" id="inputLastName" class="form-control" placeholder="LastName" required autofocus>

        <br><br>

    Faculty : 
    <label for="inputFaculty" class="sr-only">Faculty</label>
    <input type="faculty" name="inputFaculty" id="inputFaculty" class="form-control" placeholder="Faculty" required autofocus>
        
        <br><br>

    University : 
    <label for="inputUniversity" class="sr-only">University</label>
    <input type="university" name="inputUniversity" id="inputUniversity" class="form-control" placeholder="University" required autofocus>
        
        <br><br>

    LinkedIn profile URL : 
    <label for="inputLinkedin" class="sr-only">LinkenIn URL</label>
    <input type="linkedin" name="inputLinkedin" id="inputLinkedin" class="form-control" placeholder="Linkedin" required autofocus>
        
        <br><br>

    Research Gate profile URL : 
    <label for="inputResearchGate" class="sr-only">Research Gate URL</label>
    <input type="researchgate" name="inputResearchGate" id="inputResearchGate" class="form-control" placeholder="ResearchGate" required autofocus>
        
        <br><br>

    Username : 
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        
        <br><br>

    Password : 
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <br><br>
    
    <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
    </form>
</body>

</html>